<a href="https://colab.research.google.com/github/DenShum/Python-/blob/main/%22pal_8_Denis_Shum_dz2_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.
Примеры работы программы:

1.word = 'test’
Результат:
es

1.word = 'testing’
Результат:
t

In [2]:
word = 'test'
n=len(word)
if n%2==0:
  print(word[int(n/2)-1],word[int(n/2)])

word = 'testing'
n=len(word)
if n%2==1:
  print(word[int(n/2)])

e s
t

Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

Примеры работы программы:

Введите число:
1

Введите число:
4

Введите число:
6

Введите число:
0
Результат:
11

Введите число:
0
Результат:
0

In [ ]:
x=int(input())
sum=0
while x!=0: 
  sum += x
  x=int(input('Введите число:'))
  print(x)
  if x == 0: 
   print(sum)

Задание 3
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

Примеры работы программы:
1.
boys = [‘Peter’, ‘Alex’, ‘John’, ‘Arthur’, ‘Richard’]
girls = [‘Kate’, ‘Liza’, ‘Kira’, ‘Emma’, ‘Trisha’]

Результат:
Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

boys = [‘Peter’, ‘Alex’, ‘John’, ‘Arthur’, ‘Richard’, ‘Michael’]
girls = [‘Kate’, ‘Liza’, ‘Kira’, ‘Emma’, ‘Trisha’]

Результат:
Внимание, кто-то может остаться без пары!

In [1]:
boys = ['Peter','Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)==len(girls):
    print("Идеальная пара:")
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for company in dating:
        print(f"{company[0]} и {company[1]}")
else:
     print("Кто то может остаться без пары")

Идеальная пара:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Задание 4
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Пример работы программы:

countries_temperature = [
[‘Thailand’, [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
[‘Germany’, [57.2, 55.4, 59, 59, 53.6]],
[‘Russia’, [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
[‘Poland’, [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
Результат:

Средняя температура в странах:
Thailand - 23.9 С
Germany - 13.8 С
Russia - 3.7 С
Poland - 12.0 С

In [ ]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for n in countries_temperature:
    print(n[0], '-', round((sum(n[1]) / len(n[1]) - 32) / 1.8, 1), 'C')

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C